html,
body {
  height: 100%;
}

body {
  margin: 0;

  font-family: sans-serif;
  font-weight: 100;
}

.container {
  width: 60%;

  margin: auto;
}
.filter_button {
  padding: 10px;
  margin: 10px 0px;
  border-style: none;
  background: none;
  cursor: pointer;
  color: rgb(66, 66, 66);
}
.filter_button:hover {
  background-color: rgb(211, 211, 211);
}

.filter_option {
  padding: 10px;
  margin: 10px;
  background: none;
}
